.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    position: relative;
    padding: 10px;
    margin: 10px;
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: green;
    text-transform: uppercase;
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    left: 250px;
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: red;
    text-transform: uppercase;

}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 500px;
    border-style: solid;
    border-color: yellow;   
    text-transform: uppercase;
    border-width: 10px;

}